<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>play.join()</title>
     <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/materialize/1.0.0/css/materialize.min.css">
</head>
<body>
     <nav>
    <div class="nav-wrapper">
      <a href="/public/Image/party.join Gaming.png" class="brand-logo">Logo</a>
      <ul class="right hide-on-med-and-down">
        <li><a class="waves-effect waves-light btn">Button</a></li>
        <li><a class="waves-effect waves-light btn">Button</a></li>
        <li><a class="waves-effect waves-light btn">Button</a></li>
      </ul>
    </div>
  </nav>
    <header>
        <h1>play.join()</h1>
        <h2>Find your gaming party</h2>
        <nav>
            <a href="/">Home</a>
            {{#if loggedIn}}
            <a href="/profile">Profile</a>
            <a id="navbar-logout" role="button">Logout</a>
            {{/if}}
            <a href="/login">Login</a>
        </nav>
    </header>
    
    <main>
        {{{body}}}
    </main>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/materialize/1.0.0/js/materialize.min.js"></script>
</body>
</html>