<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>play.join()</title>
    <link href="https://fonts.googleapis.com/icon?family=Material+Icons" rel="stylesheet">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/materialize/1.0.0/css/materialize.min.css">
    <link rel="stylesheet" href="https://fonts.googleapis.com/css?family=Audiowide">
    <link rel="stylesheet" href="/css/style.css">
</head>
<body>
    <header>
        <nav>
            <div class="nav-wrapper black">
                <a href="/" id="logo-link">
                <img id="logo" src="/images/Gaming.png" alt="player.join() Gaming Connection">
                </a>
                <a href="#" data-target="mobile-demo" class="sidenav-trigger"><i class="material-icons">menu</i></a>
                <ul id="nav-mobile" class="right hide-on-med-and-down">
                    <li><a class="deep-purple" id="nav-link" href="/">Homepage</a></li>
                    {{#if loggedIn}}
                    <li><a class="deep-purple" id="nav-link" href="/profile/0">Profile</a></li>
                    <li><a class="deep-purple" id="navbar-logout" role="button">Logout</a></li>
                    {{else}}
                    <li><a class="deep-purple" id="nav-link" href="/login">Login</a></li>
                    {{/if}}
                    {{!-- <li><a class="deep-purple" id="nav-link" href="/games">Games</a></li> --}}
                </ul>
            </div>
            <ul id="mobile-demo" class="sidenav">
                <li><a class="deep-purple" href="/">Homepage</a></li>
                {{#if loggedIn}}
                <li><a class="deep-purple" href="/profile/0">Profile</a></li>
                <li><a class="deep-purple" href="/" id="navbar-logout">Logout</a></li>
                {{else}}
                <li><a class="deep-purple" href="/login">Login</a></li>
                {{/if}}
                {{!-- <li><a class="deep-purple" href="/games">Games</a></li> --}}
            </ul>
        </nav>
    </header>
    <main>
        {{{body}}}
    </main>
    <footer class="page-footer black">
        <div class="container">
            <div class="row">
                <div class="col l6 s12">
                    <h5>Collaborators</h5>
                    <ul>
                        <li><a class="indigo-text text-accent-3" href="https://github.com/Clarsen1782"><h6>Christina
                                Larsen</h6></a></li>
                        <li><a class="indigo-text text-accent-3" href="https://github.com/nathangero"><h6>Nathan
                                Geronimo</h6></a></li>
                        <li><a class="indigo-text text-accent-3" href="https://github.com/nba251522"><h6>Thomas Er</h6></a></li>
                    </ul>
                </div>
                <div class="col l4 offset-l2 s12">
                    <h5 class="white-text">Helpful Links</h5>
                    <ul>
                        <li><a class="indigo-text text-accent-3" href="https://materializecss.com/"><h6>Materialize</h6></a></li>
                        <li><a class="indigo-text text-accent-3" href="https://www.w3schools.com/"><h6>w3schools</h6></a></li>
                        <li><a class="indigo-text text-accent-3" href="https://stackoverflow.com"><h6>Stack Overflow</h6></a></li>
                    </ul>
                </div>
            </div>
        </div>
        <div class="footer-copyright">
            <div class="container">
                © 2023 CNT Copyright Text
            </div>
        </div>
    </footer>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/materialize/1.0.0/js/materialize.min.js"></script>
    <script src="/js/script.js"></script>

    {{#if loggedIn}}
    <script src="/js/logout.js"></script>
    {{/if}}
</body>

</html>