{{!-- Show all the games on the front page --}}

<body>
    <nav>
        <div class="nav-wrapper deep-purple">
            <form id="searchForm">
                <div class="input-field">
                    <input id="searchInput" type="search" required>
                    <label class="label-icon" for="search"><i class="material-icons">search</i></label>
                    <i class="material-icons">close</i>
                </div>
            </form>
        </div>
    </nav>

    <div class="container">
        <div id="searchResults" class="row"></div>
    </div>
    <!-- Start of the grid container with About Us Card-->
    <div class="container">
        <div class="row">
            <div class="card black">
                <div class="card-image waves-effect waves-block waves-light">
                    <img class="activator" src="/images/playjoin.png">
                </div>
                <div class="card-content" id="autext">
                    <span class="card-title activator">About Us<i class="material-icons right">more_vert</i></span>
                </div>
                <div class="card-reveal deep-purple">
                    <span class="card-title white-text center-align">play.join Gaming Connection<i
                            class="material-icons right">close</i></span>
                    <p class="white-text">Video games are a simple pastime to some and an evolving art form to others. From a group of friends going to the coin-operated arcades of the 1980s to sitting home in California and playing via the internet with your best friend in New York, one thing remains the same: Games are more fun when you can throw your win in someone’s face!</p>
                <br>
                <p class="white-text">Unfortunately, unless you’re lucky enough to be a top-tier professional video gamer and can bring in a few million in tournament winnings each year, adulting will probably get in the way of game time, and your favorite people may not always be available to play. That’s where we come in; our platform is here to help connect you with other players as passionate about the game as you are. </p>
                <br>
                <p class="white-text">Once you have set up an account, you can search for your favorite games and see who else is looking for a partner to spend their game time with. Hope you all enjoy!</p>
                </div>
            </div>
        </div>
    </div>
</body>

<script src="/js/search.js"></script>