{{!-- Show all the games on the front page --}}

<body>
    <nav>
        <div class="nav-wrapper deep-purple">
            <form id="searchForm">
                <div class="input-field">
                    <input id="searchInput" type="search" required>
                    <label class="label-icon" for="search"><i class="material-icons">search</i></label>
                    <i class="material-icons">close</i>
                </div>
            </form>
        </div>
    </nav>

    <div id="searchResults"></div>
    <!-- Start of the grid container with About Us Card-->
    <div class="container">
        <div class="row">
            <div class="card black">
                <div class="card-image waves-effect waves-block waves-light">
                    <img class="activator" src="/Image/playjoin.png">
                </div>
                <div class="card-content" id="autext">
                    <span class="card-title activator">About Us<i
                            class="material-icons right">more_vert</i></span>
                </div>
                <div class="card-reveal">
                    <span class="card-title grey-text text-darken-4">play.join Gaming Connection<i
                            class="material-icons right">close</i></span>
                    <p>IN PROCESS</p>
                </div>
            </div>
            {{!-- First --}}
            
                <div class="col s12 m4">
                    <div class="card merchcard">
                        <div class="card-image">
                            <img src="/Image/Gaming.png">
                            <span class="card-title">Card Title</span>
                            <a class="btn-floating halfway-fab waves-effect waves-light red"><i
                                    class="material-icons">add</i></a>
                        </div>
                        <div class="card-content">
                            <p>I am a very simple card. I am good at containing small bits of information. I am
                                convenient because I require little markup to use effectively.</p>
                        </div>
                    </div>
                </div>
            
            {{!-- Second --}}

            <div class="col s12 m4">
                <div class="card merchcard">
                    <div class="card-image">
                        <img src="/Image/Gaming.png">
                        <span class="card-title">Card Title</span>
                        <a class="btn-floating halfway-fab waves-effect waves-light red"><i
                                class="material-icons">add</i></a>
                    </div>
                    <div class="card-content">
                        <p>I am a very simple card. I am good at containing small bits of information. I am
                            convenient because I require little markup to use effectively.</p>
                    </div>
                </div>
            </div>

            {{!-- Third --}}

            <div class="col s12 m4">
                <div class="card merchcard">
                    <div class="card-image">
                        <img src="/Image/Gaming.png">
                        <span class="card-title">Card Title</span>
                        <a class="btn-floating halfway-fab waves-effect waves-light red"><i
                                class="material-icons">add</i></a>
                    </div>
                    <div class="card-content">
                        <p>I am a very simple card. I am good at containing small bits of information. I am
                            convenient because I require little markup to use effectively.</p>
                    </div>
                </div>
            </div>

            {{!-- Fourth --}}

            <div class="col s12 m4">
                <div class="card merchcard">
                    <div class="card-image">
                        <img src="/Image/Gaming.png">
                        <span class="card-title">Card Title</span>
                        <a class="btn-floating halfway-fab waves-effect waves-light red"><i
                                class="material-icons">add</i></a>
                    </div>
                    <div class="card-content">
                        <p>I am a very simple card. I am good at containing small bits of information. I am
                            convenient because I require little markup to use effectively.</p>
                    </div>
                </div>
            </div>

            {{!-- Fifth --}}

            <div class="col s12 m4">
                <div class="card merchcard">
                    <div class="card-image">
                        <img src="/Image/Gaming.png">
                        <span class="card-title">Card Title</span>
                        <a class="btn-floating halfway-fab waves-effect waves-light red"><i
                                class="material-icons">add</i></a>
                    </div>
                    <div class="card-content">
                        <p>I am a very simple card. I am good at containing small bits of information. I am
                            convenient because I require little markup to use effectively.</p>
                    </div>
                </div>
            </div>

            {{!-- Sixth --}}

            <div class="col s12 m4">
                <div class="card merchcard">
                    <div class="card-image">
                        <img src="/Image/Gaming.png">
                        <span class="card-title">Card Title</span>
                        <a class="btn-floating halfway-fab waves-effect waves-light red"><i
                                class="material-icons">add</i></a>
                    </div>
                    <div class="card-content">
                        <p>I am a very simple card. I am good at containing small bits of information. I am
                            convenient because I require little markup to use effectively.</p>
                    </div>
                </div>
            </div>

            {{!-- Put Cards before last 2 div --}}
        </div>
    </div>
</body>

<script src="/js/search.js"></script>