body {
    margin: 20px;
    /* background-color: black; */
}

#logo {
    width: 63px;
}
.merchcard {
    width: 200px;
}

#autext {
    color: blueviolet;
    text-align: center;
    font-size: larger;
    font-weight: bold;
}
