body {
    margin: 20px;
    background-color: black;

}

.merchcard {
    max-width: 297px;
    /* height: 400px; */
}

/* .card-body {
    height: 230px;
} */

.custom-card-title {
    margin: 0px 10px;
}

.custom-card-image {
    max-width: 297px;
}

.player-count {
    width: 100%;
    font-size: large;
}

.favorite-icon {
    width: 100%;
    position: relative;
    bottom: 0;
}

.sidenav {
    background-color: black;
}

.profile-user-id,
.game-user-name,
.game-summary {
    font-size: 30px;
}

.game-image {
    margin-top: 10px;
}

.game-name {
    text-decoration: underline;
}

#logo {
    width: 63px;
}

#autext {
    color: blueviolet;
    text-align: center;
    font-size: larger;
    font-weight: bold;
}

.white-text-input {
    color: white;
}